<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Create an account</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link href="/css/main.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Gupta's Hotel</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" th:href="@{/}">Home</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" th:href="@{/booking}">Booking</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0" method="post" action="#" th:action="@{/logout}" th:if="${#authorization.expression('isAuthenticated()')}">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
		</form>
	</div>
</nav>

<div class="container" style="padding-top: 100px">
	<table class="table">
		<thead class="thead-dark">
		<tr>
			<th scope="col">Booking</th>
			<th scope="col">CheckInDate</th>
			<th scope="col">CheckOutDAte</th>
			<th scope="col">Status</th>
			<th scope="col">Room number</th>
		</tr>
		</thead>
		<tbody>
		<thead class="thead-light">
		<tr th:each="reservation : ${reservations}">
			<th th:text="${reservation.id}"></th>
			<th th:text="${reservation.checkInDate}"></th>
			<th th:text="${reservation.checkOutDate}"></th>
			<th th:text="${reservation.accepted}? 'ACCEPTED' : 'DECLINED'"></th>
			<th th:text="${reservation.room} != null? ${reservation.room.id} : ''"></th>
		</tr>
		</thead>
		</tbody>
	</table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>